#moeda {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

#moeda div {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  -moz-box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
  box-shadow: inset 0 0 45px rgba(255, 255, 255, .3), 0 12px 20px -10px rgba(0, 0, 0, .4);
}

#moeda div, #moeda div img {
  border-radius: 50%;
}

.cara {
  background-color: #f5bf5d;
}

.coroa {
  background-color: #b2b3b7;
}

#moeda {
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}

#moeda div {
  position: absolute;
  -webkit-backface-visibility: hidden;
}

.cara {
  z-index: 100;
}

.coroa {
  -webkit-transform: rotateY(-180deg);
}

#moeda.gira-cara {
  -webkit-animation: giraCara 3s ease-out forwards;
  -moz-animation: giraCara 3s ease-out forwards;
  -o-animation: giraCara 3s ease-out forwards;
  animation: giraCara 3s ease-out forwards;
}

#moeda.gira-coroa {
  -webkit-animation: giraCoroa 3s ease-out forwards;
  -moz-animation: giraCoroa 3s ease-out forwards;
  -o-animation: giraCoroa 3s ease-out forwards;
  animation: giraCoroa 3s ease-out forwards;
}

@-webkit-keyframes giraCara {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(1800deg);
    -moz-transform: rotateY(1800deg);
    transform: rotateY(1800deg);
  }
}

@-webkit-keyframes giraCoroa {
  from {
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    transform: rotateY(0);
  }
  to {
    -webkit-transform: rotateY(1980deg);
    -moz-transform: rotateY(1980deg);
    transform: rotateY(1980deg);
  }
}

.spacer {
  height: 100vh;
}

img {
  height: 100%;
}